@keyframes animacao {
    0% { margin-left: 0; }
    55% { margin-left: 0; }
    65% { margin-left: -100%; }
    90% { margin-left: -100%; }
    99.9% { margin-left: -200%; }
    100% { margin-left: -200%; }
    
}