@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    padding-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    position: relative;
    color: white;
}

main{
    min-width: 360px;
}

.container{
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: #000000;
    width: 100%;
    padding: 10px;
    
}

.logo{
    display: flex;
    width: 25%;
}

.logo img{
    width: 100% ;
}

.menuum{
    width: 100%;
    margin-left: 30px;
}

.menuum nav a{
    color: white;
    text-decoration: none;
    padding-right: 25px;
    font-size: 15px;
}

.menuum nav a:hover{
    text-decoration: underline;
}

.button {
  position: fixed;
  z-index: 8;
  bottom: 0px;
  left: 1.5rem;
  right: 1.5rem;
  display: inline-flex;
}

.button a{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 6.25rem;
    background-color: #BD3913;
    font-size: 20px;
    color: rgb(255, 255, 255);
    height: 3rem;
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    outline: 0px;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    border: 0px;
    transform: translate3d(0px, 0px, 0px);
}

.button a:hover{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 6.25rem;
    background: #3E692F;
    color: rgb(253, 253, 253), 250;
    height: 3rem;
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    outline: 0px;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    border: 0px;
    transform: translate3d(0px, 0px, 0px);
    text-decoration: none;
}

.galery {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 19.9%;
}

.contain{
    display: inline-block;
    position: relative;
    overflow: hidden ;
}

.contain img{
    width: 100%;
    height: 100%;
}

.contain #text{
    position: absolute;
    top: 15px;
    left: 50px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px black;
    text-align: right;
    padding: 15px;
}

.contain #texto{
    position: absolute;
    top: 200px;
    left: 150px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    text-align: right;
    padding: 10px;
}

.contain section#login {
    position: absolute;
    top: 8%;
    left: 5%;
    overflow: hidden;
    
    background: #ffffff ;
    width: 240px;
    height: 210px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    display: block;
    padding: 5px;
}

div#formulario > h1{
    text-align: left;
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: block;
    padding: 0%;
    padding-top: 5px;
    padding-left: 5px;
}

form > div.campo{
    background-color:#000000;
    border: 0px solid #000000;
    display: block;
    left: 3%;
    width: 94%;
    height: 40px;
    border-radius: 8px;
    margin: 15px 0px;
}

div.campo > label{
    display: none;
}

div.campo > i{
    color: rgb(235, 231, 231);
    /* background black*/
    font-size: 2em;
    width: 0px;
    padding: 2px;
}

div.campo > input{
    background-color: #ffffff;
    font-size: 15px;
    width: 215px;
    height: 95%;
    border-radius: 7px;
    padding: 4px;
    transform: translateY(1px);
    
}

div.campo > input:focus-within{
    background-color: #ffffff;
}

form > input[type=submit]{
    display: block;
    font-size: 1.1em;
    left: 5%;
    width: 90%;
    height: 40px;
    background-color: #3E692F ;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #BD3913;
    color: aliceblue;
    font-size: 1.1em;
    left: 3%;
    width: 92%;
    height: 45px;
}

h3{
    color: #000000;
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    padding: 10px;
}

ul.prod{
    float: left;
    width: 100%;
    padding: 10px;
    display: block;
    gap: 30px;
    margin-top: 20px;
   
}

ul.prod li{
    height: 25%;
    width: 35%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border-radius: 8px;
    margin-left: 10%;
    margin-top: 30px;
    overflow: hidden;
}

ul.prod li:hover{
    width: 35%;
    box-shadow: black 0px 10px 35px 0px;
    cursor: pointer;
}

.imagem-produtos{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0;
}

#cifrao{
    width: 72px;
}

#giro{
    width: 77px;
}

#car{
    padding-top: 18px;
    width: 85px;
}

#pag{
    width: 65px;
}

#maq{
    width: 60px;
}

#carts{
    padding-top: 12px;
    padding-bottom: 20px;
    width: 80px;
}

p{
    color: #000000;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

p#con{
    margin-top: 10px;
}

p#gir{
    margin-top: 8px;
}

p#cart{
    margin-top: 10px;
}

p#pagm{
    margin-top: 8px;
}

p#mg{
    margin-top: 10px;
}

p#rd{
    margin-top: 0px;
    font-size: 18px;
}


#smile{
    width: 98%;
    padding: 10px;
    border-radius: 10PX;
}



h1{
    padding: 20px;
    text-align: left;
    color: black; 
    font-size: 1.53rem;
} 
    h2{
        padding: 18px;
        padding-top: 20px;
        color: black; 
        font-size: 1.1rem;
        text-align: left;
}

.contan{
    padding: 0px;
}

.contan p{
   margin: 13px;
   color: #000000;
   font-size: 1.10rem;

   font-weight: bold;
   text-align: justify;
   text-indent: -22px;
   padding-left: 18px;
   padding-right: 10px;
}

strong{
    color: #000000;
    padding-right: 10px;
}

.contan strong{
    margin: 0%;
    padding-right: 0%;
}

.continha strong{
    color: darkolivegreen;
    font-weight: bold;
}

.continha, a{
    color: rgb(72, 94, 34);
    cursor: pointer;
}

 a:hover{
    text-decoration: underline;
}

.cont {
    padding-top: 15px;
    display: inline-block;
    position: relative;
    overflow: hidden ;
}

.cont img{
    border-radius: 0px;
    padding: 0%;
    width: 428px;
    height: 300px;
    object-fit: cover;
    object-position:0px 0px;
}

.cont #tex{
    position: absolute;
    top: 5px;
    left: 0px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px black;
    text-align: left;
    padding: 15px;
    padding-right: 180px;
}

.cont #te{
    position: absolute;
    top: 95px;
    left: 0px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px black;
    text-align: left;
    padding: 15px;
    padding-right: 230px;
}
 
#anui{
    width: 90%;
    left: 5%;
}

div#burocracia{
    background-color: #ffffff;
    font-size: 20px;
    padding-left: 15px;
}

div#burocracia p{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
}

div#burocracia img{
    margin-left: 0%;
    width: 100%;
    height: 60%;
}

footer{
    background-color: #000000;
}

footer #logof{
    padding-top: 40px;
    width: 160px;
}

footer p{
    color: #fff; 
    font-size: 15px;
    text-align: left;
    
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

ul.icones-redes-sociais {
        display: flex;
        float: left;
        width: 100%;
        padding-left: 55px;
        gap: 30px;
}

footer nav{
    display: block;
    width: 100%;
    background-color: #000000;
    padding-bottom: 80px;
}

footer li img{
    width: 30px;
}

